# Binaries
/bin/
*.exe
*.dll
*.so
*.dylib

# Build artifacts
/build/
/dist/
*.out
*.a
*.o

# Logs
/logs/
*.log

# Environment and dependency files
.env
.env.local
.env.*

# IDE/editor settings
/.vscode/
/.idea/
*.swp
*.swo

# Cache
/.cache/
/tmp/


# Configs
config.json
/config/config.json
